:root {
	--accent-color: #ff9101;
	--accent-color-hover: #ff6d00;
	--accent-color-pale: #ff9101ed;
	--main-font-color: #333;
	--secondary-font-color: #666;
	--tertiary-font-color: #999;
	--main-background-color: #f5f5f5;
	--error-color: red;
	--error-color-hover: #ff5c5c;
}

section, article, main, aside, header, footer, body {
	background-color: var(--main-background-color);
}

body {
	font-family: "Manrope Variable", sans-serif;
	color: var(--main-font-color);
	border: none;
	margin: 0;
}

*:focus {
	outline: 2px solid var(--accent-color);
}

*,
*::before,
*::after {
	box-sizing: border-box; // this should be default. grrr
}